*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
    background-color: hsl(270, 20%, 96%);
}


.landing{
    position: relative;
    display: flex;
    justify-content: space-between;
}



.landing .left-before{
    position: absolute;
    width: 450px;
    height: 600px;
    background: linear-gradient(to left bottom ,hsl(286deg 100% 63%), hsl(264, 100%, 61%));
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    left: -50px;
}


.landing .screenshot{
    position: absolute;
    left: 30%;
    transform: translateX(-30%);
    top: 60px;
    width: 250px;
    height: 500px;
    background-color: white;
    box-shadow: 0 0 4px rgb(185, 185, 185);
    border: 10px solid white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    -o-transform: translateX(-30%);
}


.landing .screenshot .nav{
    position: absolute;
    width: 230px;
    height: 70px;
    background: linear-gradient(to left ,hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 20px 20px 5px 5px;
    -webkit-border-radius: 20px 20px 5px 5px;
    -moz-border-radius: 20px 20px 5px 5px;
    -ms-border-radius: 20px 20px 5px 5px;
    -o-border-radius: 20px 20px 5px 5px;
}

.landing .screenshot .nav::before{
    content: '';
    position: absolute;
    background-color: white;
    width: 120px;
    height: 20px;
    border-radius: 0px 0px 10px 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
}

.landing .screenshot .nav .nav-bar{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}


.landing .screenshot .nav .nav-bar i{
    display: flex;
    align-items: center;
    color: white;
}

.landing .screenshot .nav .nav-bar img{
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.landing .screenshot .nav .nav-bar .name{
    margin-left: 10px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.landing .screenshot .nav .nav-bar .name h1{
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.landing .screenshot .nav .nav-bar .name p{
    color: #888;
    font-size: 10px;
}


.landing .screenshot .nav .nav-bar .colon{
    color: white;
    position: absolute;
    right: 10px;    
}


.landing .screenshot .back{
    padding-top: 5px;
    margin-top: 70px;
    background-color: hsl(270, 20%, 96%);
    width: 230px;
    height: calc(500px - 90px);
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}



.landing .screenshot .back .container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 8px;
    width: 150px;
    height: 35px;
    margin: 10px 0px 10px 10px;
    padding-left: 10px;
    color: hsl(291deg 70% 53%);
    background-color: #efe5fa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.landing .screenshot .back .dogs{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.landing .screenshot .back .dogs img{
    border-radius: 5px;
    width: 40px;
    margin-right: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.landing .screenshot .back .big-container{
    margin: 10px 0px 10px 0px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.landing .screenshot .back .container-white{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 8px;
    max-width: 150px;
    height: 35px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.landing .screenshot .back .container-third{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 8px;
    width: 150px;
    height: fit-content;
    margin: 10px 0px 10px 10px;
    padding: 10px;
    color: hsl(291deg 70% 53%);
    background-color: #efe5fa;
    line-height: 1.4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



.landing .screenshot .back .dollar .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    width: 150px;
    color: white;
    margin-left: 10px;
    background: linear-gradient(to right ,hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}

.landing .screenshot .back .dollar .container p{
    font-size: 5px;
    margin-left: 5px;
}

.landing .screenshot .back .dollar .container h1{
    font-size: 10px;
    margin-left: 40px;
}


.landing .screenshot .back .entry{
    background-color: white;
    color: #999;
    font-size: 10px;
    padding: 0px 10px 0 10px;
    margin: 0 10px 0 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


.landing .screenshot .back .entry .text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.landing .screenshot .back .entry .text i{
    color: hsl(264, 100%, 61%);
    
}


.landing .head{
    position: absolute;
    top: 200px;
    right: 14%;
    transform: translateX(-14%);
    -webkit-transform: translateX(-14%);
    -moz-transform: translateX(-14%);
    -ms-transform: translateX(-14%);
    -o-transform: translateX(-14%);
}

.landing .head h1{
    color: #48137e;;
    font-size: 35px;
    font-weight: 500;
}

.landing .head p{
    line-height: 1.6;
    color: #777;
    font-size: 15px;
}


.transparent{
    position: absolute;
    right: 0px;
    top: 150px;
    border-top-left-radius: 70%;
    background-color: #efefefb7;
    width: 300px;
    height: 500px;
    z-index: -1;
}



@media (max-width:767px){
    .landing .head{
        top: 75vh;
        width: 200px;
    }

    .landing .head h1{
        font-size: 20px;
    }


    .landing .head p{
        font-size: 10px;
    }

}








/* 
/* @media (min-device-width: 768px) and (max-device-width: 1024px){
    .landing .head{
        top: 60vh;
        width: 500px;
    }

    .landing .head h1{
        font-size: 30px;
    }


    .landing .head p{
        font-size: 20px;
    }

}
 */


/* @media (min-device-width: 375px) and (max-device-width: 667px) {
    .landing .head{
        right: 0;
        top: 88vh;
        width: 200px;
    }

    .landing .head h1{
        font-size: 15px;
    }


    .landing .head p{
        font-size: 8px;
    } */

} */